.content {
    position: absolute;
    padding-top: 10rem;
    display: flex;
}

.content h1 {
    font-size: 50px;
    color: #180059;
}

.actions {
    margin-top: 2rem;
}

.actions button {
    margin-right: 3%;
}

.one {
    width: 45%;
    margin-left: 4%;
}

.two {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campaignImg {
    height: 90%;
    width: 90%;
}

@media only screen and (max-width: 768px) {

    .content {
        padding-top: 5rem;
        display: block;
    }

    .content h1 {
        font-size: 36px;
    }
    
    .one {
        width: 92%;
        margin-left: 4%;
        margin-bottom: 2rem;
    }
    
    .two {
        width: 92%;
        margin-left: 4%;
        margin-bottom: 2rem;
    }

    .campaignImg {
        height: 100%;
        width: 100%;
    }

    .actions {
        margin-top: 1rem;
    }
    
    .actions button {
        margin: 0.8rem 0.2rem 0.2rem 0.15rem;
    }

}